{#
/**
    Display Promo Content.
 */
#}

<div class="container-fluid promo-block">
  <div class="container">
    <h2>{{ content }}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis elit vestibulum, rhoncus orci vitae, ullamcorper neque. Nulla vitae semper dui, scelerisque malesuada risus. Maecenas egestas placerat magna.</p>
    <a href="/promotion">
      <button class="primary">Signup</button>
    </a>
  </div>
</div>